<div class="container px-5 px-sm-0">
  <div>
    <%= flash[:notice] %>
  </div>
  <h2>Comments</h2>
  <table>
    <thead>
      <tr>
        <th>内容</th>
        <th>作成者</th>
        <th>投稿日時</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.comment %></td>
          <td><%= comment.user.name %></td>
          <td><%= comment.created_at %></td>
          <td>
            <%= link_to '編集', edit_admin_comment_path(comment) %> |
            <%= link_to '削除', admin_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>