<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>グループ編集画面</h2>
      
        <% if @group.errors.any? %>
          <div id="error_explanation">
            <h3><%= @group.errors.count %>つのエラーが発生しました。</h3>
            <ul>
              <%@group.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
              
      <%= form_with model: @group do |f| %>
        <div class= "mb-3">
          <%= f.label :name, "グループ名", class: "form-label", for: "inputName"%>
          <%= f.text_field :name,actofocus: true, id: "inputName", class: "form-control"%>
        <div class="mb-3">
          <%= f.label :description, "説明", class: "form-label" %>
          <%= f.text_area :description, class: "form-control"%>
        </div>
        <div>
            <%= f.submit "保存する" , class: "btn btn-primary" %>
        </div>
      <% end %>
      
      <%= link_to '戻る', group_path(@group.id), class: "btn btn-secondary mt-3" %>
    </div>
  </div>
</div>