<h2>グループ名: <%= @group.name %></h2>

<p><strong>説明</strong> <%= @group.description %></p>

  <%= link_to "グループを編集する", edit_group_path(@group.id) %>
  <%= link_to "グループを削除する", group_path(@group.id), method: :delete, data: {confirm: "本当にグループを削除しますか？"} %>
<%= link_to '一覧に戻る', groups_path %>