<div class="container px5 px-sm-5">
  <h2 class="my-4">グループ詳細</h2>
  <div>
    <p><strong>グループ名:</strong> <%= @group.name %></p>
    <p><strong>グループオーナー:</strong> <%= @group.owner.name %></p>
    <p><strong>説明:</strong> <%= @group.description %></p>
    
      <% if user_signed_in? %>
        <% if @group.owner == current_user %>
          <%= link_to "編集", edit_group_path(@group.id), class: "btn btn-success" %>
          <%= link_to "削除", group_path(@group.id), method: :delete, data: {confirm: "本当にグループを削除しますか？"}, class: "btn btn-danger" %>
        <% elsif @group.memberships.exists?(user_id: current_user.id) %>
          <%= link_to "脱退", group_membership_path(@group), method: :delete, class: "btn btn-warning" %>
        <% else %>
          <%= link_to "参加", group_memberships_path(@group), method: :post, class: "btn btn-success" %>
        <% end %>
      <% end %>
      
      <h3>グループユーザー</h3>
        <table class="table table-hover table-bordered custom-table">
          <tbody>
              <% @group.memberships.each do |member| %>
              <tr>
                <td class="align-middle text-left">
                  <%= link_to user_path(member.user) do %>
                    <%= image_tag member.user.get_profile_image, size: "100x100" %><br>
                    <span class="text-dark"><%= member.user.name %></span>
                  <% end %> 
                </td>
              </tr>
              <% end %>
          </tbody>
        </table>
      <div><%= link_to '戻る', groups_path, class: "btn btn-secondary mt-3" %></div>
  </div>
</div>