<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>編集画面</h2>
      <% if @post.errors.any? %>
        <h3><%= @post.errors.count %>errors prohibited this obj from being saved:</h3>
        <ul>
          <% @post.errors.full_messages.each do |messages| %>
          <li><%= messages %></li>
          <% end %>
        </ul>
      <% end %>
      
      <%= form_with model: @post do |f| %>
        <div><label for="inputTitle">タイトル</label></div>
          <%= f.text_field :title,actofocus: true, id: "inputTitle", placeholder: "" %>
        <div>説明</div>
        <%= f.text_area :text %>
        <div>問題</div>
        <%= f.text_area :problem %>
        <div>解説</div>
        <%= f.text_area :explanation %>
        <div>画像</div>
        <%= f.file_field :image, accept: "image/*" %>
        <p></p>
        <div><%= f.submit '保存' %></div>
      <% end %>
    </div>
  </div>
</div>
