<div class="container px-5 px-sm-5">
  <h2 class="my-4">投稿詳細</h2>
  <div class="my-4">
    <div class="d-flex align-items-center mb-3">
      <%= image_tag @post.user.get_profile_image, size: "100x100" %>
      <p class="mb-0"><%=@post.user.name %></p>
    </div>
    <p><strong>タイトル:</strong><%= @post.title %></p>
    <p><strong>説明:</strong><%= @post.text %></p>
    <p><strong>問題:</strong><%= @post.problem %></p>
    <p><strong>解説: </strong><%= @post.explanation %></p>
  
    <%= image_tag @post.get_image, size: "200x200", class: "mb-3"%>
  
    <p><strong>投稿日:</strong><%=@post.created_at.strftime('%Y/%m/%d') %></p>
    <p><strong>コメント件数:</strong><%= @post.post_comments.count %></p>
  
    <% if @post.user == current_user %>
    <%= link_to "編集", edit_post_path(@post.id), class: "btn-primary mr-2" %>
      <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "本当に投稿を削除しますか？"}, class: "btn btn-danger" %>
    <% end %>
  </div>
  
  <div class="mb-4">
    <% if @post.favorited_by?(current_user) %>
      <%= link_to post_favorite_path(@post), method: :delete, class: "btn btn-danger mr-2" do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    <% else %>
      <%= link_to post_favorite_path(@post), method:  :post, class: "btn btn-outline-danger mr-2" do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    <% end %>
  </div>
  
  <h3>コメント</h3>
  <table class="table">
    <tbody>
        <% @post.post_comments.each do |post_comment| %>
        <tr>
          <td class="align-middle text-left">
            <%= link_to user_path(post_comment.user) do %>
              <%= image_tag post_comment.user.get_profile_image, size: "100x100" %><br>
              <%= post_comment.user.name %>
            <% end %>
          </td>
          <td class="align-middle text-left"><%= post_comment.comment %></td>
          <td class="align-middle">
            <% if post_comment.user == current_user %>
              <%= link_to "Destroy", post_post_comment_path(@post, post_comment), method: :delete, data: {confirm: "本当にコメントを削除しますか？"}, class: "btn btn-danger btn-sm" %>
            <% end %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
  
  <div class="mb-4">
    <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
      <div class="form-group">
        <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", class: "form-control" %>
      </div>
      <%= f.submit "送信" %>
    <% end %>
  </div>
</div>