<h2>編集画面</h2>

<%= form_with model: @post do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>説明</h4>
  <%= f.text_area :text %>
  <h4>問題</h4>
  <%= f.text_area :problem %>
  <h4>解説</h4>
  <%= f.text_area :explanation %>
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <%= f.submit '保存' %>
<% end %>