<h2>投稿詳細</h2>
<div>
  <p><%= image_tag 'sample-author1.jpg' %>:<%=@post.user.name %></p>
  <p>タイトル:<%= @post.title %></p>
  <p>説明:<%= @post.text %></p>
  <p>問題:<%= @post.problem %></p>
  <p>解説:<%= @post.explanation %></p>
  <%= image_tag @post.get_image %>
  <p>投稿日:<%=@post.created_at.strftime('%Y/%m/%d') %></p>
  <%= link_to "編集", edit_post_path(@post.id) %>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>
</div>