<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      
      <% if @user.errors.any? %>
      <div id="error_explanation" class="alert alert-denger">
        <h3><%= @user.errors.count %>errors prohibited this obj from being saved:</h3>
        <ul>
          <% @user.errors.full_messages.each do |messages| %>
            <li><%= messages %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      
      <%= form_with model: @user, local: true, class: "mb-4" do |f| %>
        <div class="mb-3">
          <%= f.label :name, "Name", class: "form-label"%>
          <%= f.text_field :name, autofocus: true, id: "inputName", placeholder: "名前を入力", class: "form-control" %>
        </div>
        <div class="mb-3">
          <div><label for="inputImage">Image</label></div>
        <%= f.file_field :profile_image, accept: "image/*" %>
        </div>
        <p></p>
        <div><%=f.submit 'Update User',class: "btn btn-dark bg-dark" %></div>
      <% end %>
    </div>
  </div>
</div>