<div class="container px-5 px-sm-0">
  <h2>Users</h2>
  <table class="table table-hover table-bordered custom-table">
    <thead>
      <tr>
        <th>アイコン</th>
        <th>名前</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr onclick= "window.location='<%= user_path(user.id) %>'" style="cursor: pointer;">
          <td data-label="アイコン" class="align-middle text-left">
            <%= image_tag user.get_profile_image, size: "100x100" %>
          </td>
          <td data-label="ユーザー名" class="align-middle text-left">
            <%= user.name %>
          </td>
          <td class="align-middle no-label">
            <% if user_signed_in? && !current_user.guest_user? %>
              <% if current_user.following?(user) %>
                <% relationship = current_user.relationship_with(user) %>
                <%= button_to "フォロー中", user_relationship_path(user.id, relationship.id), method: :delete, data: { confirm: "本当にフォロー解除しますか？" }, class: "btn btn-outline-secondary btn-black" %>
              <% else %>
                <%= button_to "フォロー", user_relationships_path(user.id), method: :post, class: "btn btn-dark text-light" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

