<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <table class="table">
        <tbody>
          <tr>
            <td><%= image_tag @user.get_profile_image, size: "100x100" %></td>
            <th><%= @user.name %></th>
          </tr>
        </tbody>
      </table>
      <% unless @user.guest_user? %>
      <div class="row">
        <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
      <% end %>
      <div class="row">
        <%= link_to favorited_posts_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fa-solid fa-heart"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container px-5 px-sm-0">
  <h2>User Posts</h2>
  <table class = "table table-hover table-inverse">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>説明</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td>
          <%= link_to post_path(post.id) do %>
            <%= post.title %>
          <% end %>
        </td>
        <td>
          <%= post.text %>
        </td>
        <td>
          <%= "#{post.post_comments.count} コメント" %>
        </td>
        <td>
          <%= image_tag post.get_image, size: "100x100" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>