<!DOCTYPE html>
<html>
<head>
  <title>Admin - Studu_Site</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/a8e490ee7d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <%= link_to "管理者ページ", "#", class: "navbar-brand p-3" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to admin_posts_path, class: 'nav-link text-light' do  %>
              <i class="fa-solid fa-comments"></i>Posts
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_users_path, class: 'nav-link text-light' do %>
              <i class="fa-solid fa-users"></i>Users
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
              <i class="fa-solid fa-right-from-bracket"></i>Log out
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <%= yield %>
  </div>
</body>
</html>